<div class="dashboard">
  <div class="content">
    <h1>Dashboard</h1>
    <div class="section">
      <h2>Widgets</h2>
      <img src="https://www.jqwidgets.com/angular2-ui-components/i/angular-widgets-demo.png" alt="Widgets" class="section-img"/>
    </div>
    <div class="section">
      <h2>Charts</h2>
      <img src="https://cdn.statcdn.com/Infographic/images/normal/16567.jpeg" alt="Charts" class="section-img"/>
    </div>
    <div class="section">
      <h2>News</h2>
      <img src="https://uploads.dailydot.com/2018/10/olli-the-polite-cat.jpg?auto=compress&fm=pjpg" alt="Polite Cat" class="section-img"/>
    </div>
  </div>
</div>
